{% extends 'common/layout.html.twig' %}

{% block content %}
<h1>Test Page</h1>

<a href="{{ path('form_horizontal') }}" class="btn btn-default" data-toggle="modal" data-target="#modal">Modal</a>
{% endblock %}
