{% block html %}{% if app.request.isXmlHttpRequest %}{{ block('content') }}{% else %}<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8">
    <title>{% block title %}App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block styles %}
    {% stylesheets "@styles" filter="?yui_css" output="assets/css/styles.min.css" %}
    <link href="/{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    {% endblock styles %}

    {% block headscripts %}
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock headscripts %}
  </head>

  <body>
    {% block body %}
      {% block navbar %}{% include 'common/navbar.html.twig' %}{% endblock navbar%}
      {% block main %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
      {% endblock main %}
      {% block footer %}{% include 'common/footer.html.twig' %}{% endblock footer %}

      <!-- modal -->
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>
    {% endblock body %}

    {% block scripts %}
      <script src="//code.jquery.com/jquery.js"></script>
      {% javascripts "@scripts" filter="?yui_js" output="assets/js/scripts.min.js" %}
      <script src="/{{ asset_url }}"></script>
      {% endjavascripts %}
      {% if app.debug %}<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js"></script>{% endif %}
    {% endblock scripts %}
  </body>
</html>{% endif %}{% endblock html %}
